		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major">
						<h2>My Weapons</h2>
						<p>Style It Away - Styling with CSS</p>
					</header>
					<div class="box alt">
								<div class="row 50% uniform">
									<div class="4u"><span class="image fit">
										<figure class="effect-lily">
											<img src="images/pic05.jpg" alt="">
											<figcaption>
												<div>
													<h2>Classic <span>Transitions</span></h2>
													<p>A little push goes a long way.</p>
												</div>
											</figcaption>
										</figure>
									</span></div>
									<div class="4u image1"><span class="image fit">
										<figure class="effect-layla">
												<img src="images/pic06.jpg" alt="">
												<figcaption>
													<div>
													<h2>Frame <span>It</span></h2>
													<p>Framing with HTML5 canvas can not get any easier.<canvas id="canvas" width="300" height="300"></canvas>.</p>
												</div>
												</figcaption>
										</figure>
									</span></div>
									<div class="4u$ image1"><span class="image fit">
										<figure class="effect-sarah">
											<img src="images/pic07.jpg" alt="">
											<figcaption>
												<h2>Smooth <span>transitions</span></h2>
												<p>CSS is all we need for glam.</p>
											</figcaption>
										</figure>
									</span></div>
								</div>
							</div>


			<section id="one" class="wrapper style1 align-center">
				<div class="container">
					<header>
						<h2>Prototyping</h2>
					</header>
					<div class="row" style="margin:0 ">
						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-magic"></i>
							<p>I mockup the wireframe interfaces focusing on the content structure and interactions.
								I believe in keeping it clean and simple.</p>
						</section>
						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-code"></i>
							<p>I design in the browser with HTML(5), CSS(3), JavaScript.
							I work with frameworks like bootstrap, Jquery, Angular Js, Kendo UI. I use tools like grunt, gulp and so on.</p>
						</section>
						<section class="4u$ 12u$(small)">
							<i class="icon big rounded fa-users"></i>
							<p>I collaborate with business to get the requirements and transform them to the functional and design specs.</p>
						</section>
					</div>
				</div>
			</section>


			<section>
				<header class="major">
					<h2>Tools</h2>
					<p>My technologies/tools to build the applications</p>
				</header>
					<div>
					  <form>
					    <div class="form-group">
					      <div class="input-group">
					        <div class="input-group-addon"><i class="fa fa-search"></i></div>
					        <input type="text" class="form-control" placeholder="Search the tool" ng-model="searchTool">
					      </div>
					    </div>
					  </form>

				  <table class="table table-bordered table-striped alt">
				    <thead class="head">
				      <tr>
				        <td>
				          <div  ng-click="sortType = 'tool'; sortReverse = !sortReverse">
				            Tool
				            <span ng-show="sortType == 'tool' && !sortReverse" class="fa fa-caret-down"></span>
				            <span ng-show="sortType == 'tool' && sortReverse" class="fa fa-caret-up"></span>
				          </div>
				        </td>
				        <td>
				          <div ng-click="sortType = 'description'; sortReverse = !sortReverse">
				          Description
				            <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
				            <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
				          </div>
				        </td>
				        <td>
				          <div  ng-click="sortType = 'expertLevel'; sortReverse = !sortReverse">
				          Expert Level
				            <span ng-show="sortType == 'expertLevel' && !sortReverse" class="fa fa-caret-down"></span>
				            <span ng-show="sortType == 'expertLevel' && sortReverse" class="fa fa-caret-up"></span>
				          </div>
				        </td>
				      </tr>
				    </thead>

				    <tbody>
				      <tr ng-repeat="tool in tools | orderBy:sortType:sortReverse | filter:searchTool">
				        <td>{{ tool.tool }}</td>
				        <td>{{ tool.description }}</td>
				        <td>{{ tool.expertLevel }}</td>
				      </tr>
				    </tbody>

				  </table>
</div>
			</section>

		</div>
	</section>
